# Postgres (Banking/Source DB)
POSTGRES_USER=bank
POSTGRES_PASSWORD=bank
POSTGRES_DB=banking
POSTGRES_PORT=5432

# Minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=raw

# Clickhouse
CLICKHOUSE_USER=bank
CLICKHOUSE_PASSWORD=bank

# Airflow DB
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow